@import "~bootstrap-icons/font/bootstrap-icons.css";

#loginForm{
    padding:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    border-radius: 25px 5px 25px 5px;
    
}

#loginForm h2{
    color:#345B63;
}


input{
    color: #152D35;
}

input[type="submit"]{
    margin-top: 5%;
    background-color: #345B63;
    color:#D4ECDD;
}

input:focus{
    border-color: rgba(52, 91, 99, 0.8);
    box-shadow: 0 1px 1px rgba(52, 91, 99, 0.075) inset, 0 0 8px rgba(212, 236, 221, 0.6);
    outline: 0 none;
}