<app-navigation></app-navigation>
<div class="container-fluid">
 
  <div class="">
<div class="row my-4">
  <div class="card col-6 offset-3">
    <div class="row no-gutters">
      <div class="col-md-12 mt-3">
        <h5 class="text-center">Payment Details</h5>
      </div>
      <div class="col-md-12 offset-md-3">
        <div class="card-body">
          <p class="card-text">
          <div class="form-group text-center"><strong>
            <p class="row">Payment Id : {{paymentInfo.p_id}}</p>
            <p class="row">Payment Amount : {{paymentInfo.amt}}</p>
            <p class="row">Payment Method : {{paymentInfo.payment_method}}</p>
        </strong>
          </div>
          
        </div>
      </div>
    </div>
  </div>
   
</div>


