<app-navigation></app-navigation>
<div *ngIf="this.popup==true" class="alert alert-{{this.popupType}} alert-dismissible fade show col-10 offset-1 col-md-6 offset-md-3 mt-5" role="alert">
  <strong>{{popupMessage}}</strong>
  <button type="button" class="close" (click)="this.popup=false;" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-10 offset-1 col-md-6 offset-md-3 " id="loginForm">
          <h2 class="text-center mb-3">Sign Up</h2>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Name</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                </div>
                <input type="text" minlength="3"  ngModel name="customerName" class="form-control" id="name" placeholder="Name" required>
              </div>
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Email</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="bi bi-envelope-fill"></i></div>
                </div>
                <input type="email"  ngModel name="customerEmail" class="form-control" id="email" placeholder="Email" required>
              </div>
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Mobile</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="bi bi-telephone-fill"></i></div>
                </div>
                <input type="number" maxlength="10" minlength="10"  ngModel name="customerMobile" class="form-control" id="mobile" placeholder="Mobile No." required>
              </div>
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Address</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                </div>
                <textarea  ngModel name="customerAddress" class="form-control" id="address" placeholder="Address"></textarea>
              </div>
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Password</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="bi bi-key-fill"></i></div>
                </div>
                <input [type]="show ? 'text' : 'password'" minlength="3" ngModel name="customerPassword" class="form-control" id="password" placeholder="Password" required>
                <div class="input-group-postpend">
                  <!-- <button class="btn" (click)="togglePassword()" type="button">
                    <i *ngIf="show;else hideIcon" class="bi bi-eye-fill"></i>
                   <ng-template #hideIcon><i class="bi bi-eye-slash-fill"></i></ng-template></button> -->
                </div>
              </div>
              
            </div>
            
            <div class="col-auto">
              <input type="submit" class="btn btn-block mt-2 mt-md-3 " value="Sign Up" >
            </div>
            </form>
          </div> 
          
    </div>

</div>

