<nav class="navbar navbar-expand-md  ">
    <a class="navbar-brand nav-text" href="#">Gift Shop  Management System</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item active nav-text pr-2" [routerLinkActive]="['active']">
          <a routerLink="/home"  class="nav-link nav-text" href="#">Home</a>
        </li>
        
        <li *ngIf="isLoggedIn == false; else loggedIn" class="nav-item nav-text pl-2 pr-2" [routerLinkActive]="['active']">
          <a routerLink="/login" class="nav-link nav-text" href="#">Login</a>
        </li>
        <li *ngIf="isLoggedIn == false;" class="nav-item nav-text pl-2" [routerLinkActive]="['active']">
            <a routerLink="/signup" class="nav-link nav-text" href="#">SignUp</a>
          </li>
        <ng-template #loggedIn>
          <li class="nav-item nav-text" [routerLinkActive]="['active']">
            <a (click)="logout();" class="nav-link nav-text" href="#">Logout</a>
          </li>
        </ng-template>
       
       
      </ul>
    </div>
  </nav>